<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body class="bg-light">
        <div class="container p-2">
            <div class="row ml-1 mr-1">
                <div class="col-md-4 py-5 bg-info text-white">
                </div>
                <div class="col-md-8 py-5 border">
                    <h2>{{taskName}}</h2>
                    <form  #f="ngForm" (ngSubmit)="onSubmit(f.value, f)" ngNativeValidate>
                        <div class="form-group" *ngIf="dataDiv == true">
                            <div class="divSub" *ngFor="let r of reviews">
                                <p class="pmove">Review from: {{r.user.name}}</p>
                                <p class="pmove" *ngIf="authorLoggedIn == true || editorLoggedIn == true">Comment for author: {{r.authorC}}</p>
                                <p class="pmove" *ngIf="editorLoggedIn == true">Comment for editor: {{r.editorC}}</p>
                                <p class="pmove" *ngIf="editorLoggedIn == true">Recommendation: {{r.recommendation}}</p>
                            </div>
                        </div>
                        <div class="all" *ngFor="let field of formFields">
                            
                            <div class="form-group">
                                <label for="{{field.id}}">{{field.label}}</label>
                                <input  type="text" class="form-control" name="{{field.id}}" id="{{field.id}}" ngModel={{field.value.value}} placeholder="{{field.label}}"  *ngIf="field.type.name=='string' && field.id != 'password' && field.id != 'password2'  && field.id != 'editors' && field.id != 'reviewers'  && field.id != 'articleScienceArea' && field.id != 'pdf' && field.id != 'newPdf' && field.id != 'choosenReviewers' && field.id != 'replaceReviewer' && field.id != 'changedPdf' && field.id !='seePdf' && field.id != 'authorsPdf' && field.id != 'pdfAgain'">
                                <input  type="checkbox" class="form-control" name="{{field.id}}" id="{{field.id}}" ngModel={{field.value.value}} placeholder="{{field.label}}" *ngIf="field.type.name=='boolean'">
                                <input  type="number" class="form-control" name="{{field.id}}" ngModel={{field.value.value}} placeholder="{{field.label}}" *ngIf="field.type.name=='long'">
                                <input  type="date" class="form-control" name="{{field.id}}" ngModel={{field.value.value}} placeholder="{{field.label}}" *ngIf="field.type.name=='date'" value="dd/MM/yyyy">
                                <input  type="button" class="form-control" id="smanji" name="{{field.id}}"  *ngIf="field.id =='seePdf' || field.id == 'authorsPdf' || field.id == 'pdfAgain'" (click)="download(field.value.value)" value="Download pdf">
                                <!-- <select *ngIf="field.id == 'journals'" name={{field.id}} class="form-control" ngModel>
                                    <option *ngFor="let val of journals" value={{val.issn}}>{{val.name}}</option>
                                </select> -->
                                <!-- <select *ngIf="field.id == 'articleScienceArea'" name={{field.id}} class="form-control" ngModel>
                                    <option *ngFor="let val of scienceAreas" value={{val.name}}>{{val.name}}</option>d
                                </select> -->
                                <!-- <select *ngIf="field.id == 'replaceReviewer'" name={{field.id}} class="form-control" ngModel>
                                        <option *ngFor="let val of choosenRev" value={{val.username}}>{{val.name}} {{val.surname}}</option>d
                                </select> -->
                                <select multiple name="{{field.id}}" *ngIf="field.id == 'scienceArea'"  ngModel class="form-control">
                                    <option *ngFor="let val of areas" value={{val.name}}>
                                            {{val.name}}
                                    </option>
                                </select>
                                <select multiple name="{{field.id}}" *ngIf="field.id == 'paymentMethod'" ngModel  class="form-control">
                                    <option *ngFor="let val of methods" value={{val.name}}>
                                            {{val.name}}
                                    </option>
                                </select>
                                <select multiple name="{{field.id}}" class="form-control" ngModel *ngIf="field.type.name=='enum' && field.id != 'paymentMethod' && field.id != 'scienceArea' && field.id != 'editors' && field.id != 'rewRecommendation' && field.id != 'journals' && field.id != 'articleScienceArea' && field.id != 'acceptArticle' && field.id != 'replaceReviewer' && field.id != 'newReviewer'">
                                    <option *ngFor="let val of enumValues" value={{val}}>
                                      {{field.type.values[val]}}
                                    </option>
                                </select>
                                <select multiple name="{{field.id}}" *ngIf="field.id == 'editors'"   ngModel  class="form-control">
                                    <option *ngFor="let val of editors" value={{val.username}}>
                                        {{val.name}} {{val.surname}}
                                    </option>
                                </select> 
                                <select multiple name="{{field.id}}"  *ngIf="field.id == 'reviewers'"  ngModel  class="form-control">
                                    <option *ngFor="let val of reviewers" value={{val.username}}>
                                        {{val.name}} {{val.surname}}
                                    </option>
                                </select>
                                <select multiple name="{{field.id}}"  *ngIf="field.id == 'choosenReviewers'"  ngModel  class="form-control">
                                    <option *ngFor="let val of choosenRev" value={{val.username}}>
                                        {{val.name}} {{val.surname}}
                                    </option>
                                </select>
                                <select name="{{field.id}}" *ngIf="field.type.name=='enum' && field.id != 'choosenReviewers'" ngModel class="form-control">
                                    <option *ngFor="let val of enumValues" value={{val}}>
                                      {{field.type.values[val]}}
                                    </option>
                                </select>
                                <input *ngIf="field.id == 'pdf' || field.id == 'newPdf' || field.id == 'changedPdf'" type="file"  name="{{field.id}}" class="form-control" ngModel (change)="onFileSelected($event)" accept="application/pdf,application/vnd.ms-excel">
                            </div>
                        </div>
                        <input type="submit"  value="Submit" class="btn btn-primary">
                    </form>
                </div>
            </div>
        </div>
</body>
</html>
