<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body class="bg-light">
        <div class="container p-2">
            <div class="row ml-1 mr-1">
                <div class="col-md-4 py-5 bg-info text-white">
                    <h2>Journal</h2>
                    <p>Register your journal</p>
                </div>
                <div class="col-md-8 py-5 border">
                    <h2>Journal form</h2>
                    <form  #f="ngForm" (ngSubmit)="onSubmit(f.value, f)" ngNativeValidate>
                       <div class="all" *ngFor="let field of formFields">
                            <div class="form-group">
                                <label for="{{field.id}}">{{field.label}}</label>
                                <input type="text" class="form-control" name="{{field.id}}" ngModel placeholder="Enter {{field.label}}" *ngIf="field.type.name=='string' && field.id != 'scienceArea' && field.id != 'paymentMethod'">
                                <input type="checkbox" class="form-control" name="{{field.id}}" ngModel placeholder="Enter {{field.label}}" *ngIf="field.type.name=='boolean'">
                                <input type="number" class="form-control" name="{{field.id}}" ngModel placeholder="Enter {{field.label}}" *ngIf="field.type.name=='long'">
                                <select multiple name="{{field.id}}" *ngIf="field.id == 'scienceArea'"  ngModel class="form-control">
                                    <option *ngFor="let val of areas" value={{val.name}}>
                                        {{val.name}}
                                    </option>
                                </select>
                                <select multiple name="{{field.id}}" *ngIf="field.id == 'paymentMethod'" ngModel  class="form-control">
                                    <option *ngFor="let val of methods" value={{val.name}}>
                                        {{val.name}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <input type="submit" value="Create journal" class="btn btn-primary">
                    </form>
                </div>
            </div>
        </div>
</body>
</html>